/* import tailwind 4 */

@import "tailwindcss";

* {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --text-main: #67e8f9; /** cyan 300 */
  --text-secondary: #fff; /** white */
  --text-cool: #99a1af; /** gray 400 */
  --nav-text: #a2f4fd; /** cyan 200 */
  --logo-bg: #06b6d4; /** cyan 500 */
  --text-base: #101828; /** gray 900 */
  --hover-text-main: #06b6d4;
  --custom-bg: linear-gradient(
    135deg,
    #67e8f9 1%,
    #111827 20%,
    #111827 80%,
    #67e8f9 95%
  );
}

/* 
   gray-900: #111827
   cyan-300: #67e8f9
*/

.custom-bg {
  background: var(--custom-bg);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-main {
  color: var(--text-main);
}
.text-cool {
  color: var(--text-cool);
}
.nav-text {
  color: var(--nav-text);
}
.text-base {
  color: var(--text-base);
}
.logo-bg {
  background: var(--logo-bg);
}
.hover-nav-link:hover {
  color: var(--text-secondary);
}
.hover-text-main:hover {
  color: var(--hover-text-main);
  scale: 0.9;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 10rem);
  padding-left: 1.5rem; /* px-6 = 1.5rem */
  padding-right: 1.5rem;
  padding-top: 2.5rem; /* py-10 = 2.5rem */
  padding-bottom: 2.5rem;
  overflow: hidden;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}


.custom-swiper .swiper-pagination {
  font-size: 1.25rem;         /* Tailwind's text-xl */
  font-weight: 600;
  color: #4f46e5;             /* Tailwind's indigo-600 */
  text-align: right;
  padding-right: 1rem;
  position: absolute;
  bottom: 0;                  /* stick it to bottom */
  right: 0;                   /* right-align */
}
